<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DefenceSpend</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../static/css/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Defence-Spend</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="countries.html">The UNSC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="current.html">Current</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="future.html">Future Reform</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="figures.html">Facts and Figures</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--HEADER IMAGE-->
    <header class="masthead_one text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>the united nations security council</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Who are the United Nations Security Council and what do they do? In this section we will find out who they are and what power they hold.  </p>
          </div>
        </div>
      </div>
    </header>
<br>
<br>
    <!--MAIN CONTENT-->
    <div class="col-md-12" align="center">
        <h3>What is the United Nations Security Council?</h3>
      <hr>
        <p>The United Nations Security Council (UNSC) is one of the six principal organs of the United Nations, charged with the maintenance of international peace and security as well as accepting new members to the United Nations and approving any changes to its United Nations Charter. Its powers include the establishment of peacekeeping operations, the establishment of international sanctions, and the authorization of military action through Security Council resolutions; it is the only UN body with the authority to issue binding resolutions to member states. The Security Council held its first session on 17 January 1946.</p>

        <p>Like the UN as a whole, the Security Council was created following World War II to address the failings of a previous international organization, the League of Nations, in maintaining world peace. In its early decades, the Security Council was largely paralyzed by the Cold War division between the US and USSR and their respective allies, though it authorized interventions in the Korean War and the Congo Crisis and peacekeeping missions in the Suez Crisis, Cyprus, and West New Guinea. With the collapse of the Soviet Union, UN peacekeeping efforts increased dramatically in scale, and the Security Council authorized major military and peacekeeping missions in Kuwait, Namibia, Cambodia, Bosnia, Rwanda, Somalia, Sudan, and the Democratic Republic of Congo.</p>
<br>
        <h3>Who are the permanent members of the United Nations Security Council?</h3>
      <hr>
        <p>The Security Council consists of fifteen members. The great powers that were the victors of World War II—the Soviet Union (now represented by the Russian Federation), the United Kingdom, France, the Republic of China (now represented by the People's Republic of China), and the United States—serve as the body's five permanent members. These permanent members can veto any substantive Security Council resolution, including those on the admission of new member states or candidates for Secretary-General. The Security Council also has 10 non-permanent members, elected on a regional basis to serve two-year terms. The body's presidency rotates monthly among its members.</p>

        <p>Security Council resolutions are typically enforced by UN peacekeepers, military forces voluntarily provided by member states and funded independently of the main UN budget. As of 2016, 103,510 peacekeepers and 16,471 civilians were deployed on sixteen peacekeeping operations and one special political mission.</p>


    </div>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Want To Contact Us?</h2>
            <hr class="my-4">
            <p class="mb-5">Do you have any questions in regards to the content on this site? Or, do you have any feedback? Please contact us and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>0800-900-9000</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">query@defence-spend.co.uk</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
  
    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/js/scrollreveal/scrollreveal.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/creative.min.js"></script>

  </body>

</html>