<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DefenceSpend</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../static/css/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Defence-Spend</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="countries.html">The UNSC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="current.html">Current</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="future.html">Future Reform</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="figures.html">Facts and Figures</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--HEADER IMAGE-->
    <header class="masthead_three text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>future of the united nations security council</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">What is the future status of the United Nations Security Council and it's members?</p>
          </div>
        </div>
      </div>
    </header>
<br>
<br>
    <div class="col-md-12" align="center">
      <h3>The future of the UNSC and possible reform.</h3>
<hr>
<br>
      <p>Reform of the United Nations Security Council (UNSC) encompasses five key issues: categories of membership, the question of the veto held by the five permanent members, regional representation, the size of an enlarged Council and its working methods, and the Security Council-General Assembly relationship. Member States, regional groups and other Member State interest groupings developed different positions and proposals on how to move forward on this contested issue.</p>

      <p>Any reform of the Security Council would require the agreement of at least two-thirds of UN member states, and that of all the permanent members of the UNSC enjoying the veto right.</p>
<br>
    <h3>Increasing Membership</h3>
<hr>
<br>
    <p>On 21 March 2005, the then UN Secretary General Kofi Annan called on the UN to reach a consensus on expanding the council to 24 members, in a plan referred to as "In Larger Freedom". He gave two alternatives for implementation, but did not specify which proposal he preferred. The two options mentioned by Annan are referred to as Plan A and Plan B:</p>

    <ul>
      <li>Plan A calls for creating six new permanent members, plus three new nonpermanent members for a total of 24 seats in the council.</li>
      <li>Plan B calls for creating eight new seats in a new class of members, who would serve for four years, subject to renewal, plus one nonpermanent seat, also for a total of 24.</li>
    </ul>

    <p>In any case, Annan favored making the decision quickly, stating, "This important issue has been discussed for too long. I believe member states should agree to take a decision on it—preferably by consensus, but in any case before the summit—making use of one or other of the options presented in the report of the High-Level Panel".</p>

    <p>The summit mentioned by Annan is the September 2005 Millennium+5 Summit, a high-level plenary meeting that reviewed Annan's report, the implementation of the 2000 Millennium Declaration, and other UN reform-related issues.</p>
<br>
    <h3>Permanent Member Proposals</h3>
<hr>
<br>
    <p>One proposed change is to admit more permanent members. The candidates usually mentioned are Brazil, Germany, India, and Japan. They comprise the group of G4 nations, mutually supporting one another's bids for permanent seats. The United Kingdom, France and Russia support G4 membership in the U.N. Security Council. This sort of reform has traditionally been opposed by the Uniting for Consensus group, which is composed primarily of nations who are regional rivals and economic competitors of the G4. The group is led by Italy and Spain (opposing Germany), Mexico, Colombia, and Argentina (opposing Brazil), Pakistan (opposing India), and South Korea (opposing Japan), in addition to Turkey, Indonesia and others. Since 1992, Italy and other members of the group have instead proposed semi-permanent seats or the expansion of the number of temporary seats.</p>

    <p>Most of the leading candidates for permanent membership are regularly elected onto the Security Council by their respective groups: Japan was elected for eleven two-year terms, Brazil for ten terms, and Germany for three terms. India has been elected to the council seven times in total, with the most recent successful bid being in 2010 after a gap of almost twenty years since 1991–92.</p>

    <p>In 2017, it was reported that the G4 nations were willing to temporarily forgo veto power if granted a permanent UNSC seat.</p>

    <p>As of 2013, the current "P5" members of the Security Council, along with the G4, account for eight of the world's ten largest defense budgets, according to SIPRI. They also account for 9 of the 10 largest economies by both nominal GDP and Purchasing Power Parity GDP.</p>

    </div>
  <!--FOOTER-->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Want To Contact Us?</h2>
            <hr class="my-4">
            <p class="mb-5">Do you have any questions in regards to the content on this site? Or, do you have any feedback? Please contact us and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>0800-900-9000</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">query@defence-spend.co.uk</a>
            </p>
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/js/scrollreveal/scrollreveal.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/creative.min.js"></script>

  </body>

</html>